[submodule "XIVRusUpdater/Penumbra.Api"]
	path = XIVRusUpdater/Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api
